body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  font-size: 16px;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.container {
  width: 1158px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px; 
  padding-right: 15px;
}


ul,ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

img {
  display: block;
}

a {
 text-decoration: none;
 display: inline-block;
}

.page-navigator {
  display: flex;
  align-items: center;
}

 .current::after {
 content:"";
 position: absolute; 
 left: 0;
 bottom: -1px; 
  width: 100%;
 height: 4px;
 border-radius: 2px;
 background-color: #404bbf;
 }

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.logotype-span {
  color: #2e2f42;
}

.logotype {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  margin-right: 76px;
}

.list-container {
  display: flex;
  gap: 40px;
  margin-right: 0;
}

.menu-contact {
display: flex;
gap: 40px;
}



.menu-link {
  font-size: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.current {
  position:relative;
  color: #404bbf;
}

.menu-contact:hover,
.menu-contact:focus {
  color: #404bbf;
}

.contact-information {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information:hover,
.contact-information:focus {
  color: #404bbf;
}

/* HERO SECTION */

.section {
 background-color: #2e2f42;
 padding-top: 188px;
 padding-bottom: 188px;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
 max-width: 1440px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0 auto;
}


.page-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 48px;
  }

.button {
  cursor: pointer;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  margin: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.subtitle {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  color: #2e2f42;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 72px;
}

.list-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height:  1.2;
  letter-spacing: 0.02em; 
  color: #2e2f42;
  margin-bottom: 8px;
  
}

.list-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.page-footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logotype-text {
  letter-spacing: 0.02em;
  line-height: 1.5;
  max-width: 264px;
}

.footer-logotype-span {
  color: #f4f4fd;
}

.address {
 font-style: normal;
  margin-left: auto;
}

.second-section {
 padding-top: 120px; 
 padding-bottom: 120px;
}

.third-section {
 background-color: #F4F4FD;
 padding-top: 120px; 
 padding-bottom: 120px;
}

.section-list {
  display: flex;
  gap: 24px;
  margin-bottom: 0;
}

.fourth-section {
  background-color: #FFFFFF;
  padding-top: 120px; 
  padding-bottom: 120px
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path:inset(100%);
  clip:rect(0 0 0 0);
  overflow: hidden;
 }

.third-list {
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
  background-color: #FFF;
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.list-image {
  padding-top: 32px; 
  padding-bottom: 32px;
}

.list-div {
  padding-top: 32px;
  padding-bottom: 32px;
}

.div {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none
}

.fourth-section-list {
   flex-wrap: wrap;
   display: flex;
   row-gap: 48px;
  column-gap: 24px;
}

.fourth-list {
  width: calc((100% - 48px) / 3);
   box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
   transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-list:hover {
  transform: translateY(0%);
}

.second-list {
 width: calc((100% - 72px) / 4);  
}

.second-logotype {
   font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4D5AE5;
  display: inline-block;
  margin-bottom: 16px
 
}

.team-list-title {
font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
    text-align: center;
  width: 264px;
}

.display {
 display: flex;
 align-items: center;
}

.team-list-div {
backgound-color: #fffff;
  padding-top: 32px;
  padding-bottom: 32px;
}

.team-li {
  background-color: #fffff;
}

.icons-div {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd; 
  border-radius: 4px;
  margin-bottom: 8px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social-menu-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
   border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-menu-links:hover,
.social-menu-links:focus {
   background-color: #31d0aa;
}

.social-links {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
   border-radius: 50%;
  display: flex; 
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.social-links:hover,
.social-links:focus {
  background-color: #404bbf;
}

.social-li {
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 8px;
}

.social-svg {
   fill: #f4f4fd;
}

.overlay-div {
  position: relative;
  overflow: hidden; 
}

.overlay {
  position: absolute;
  top: 0; 
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
  height: 100%; 
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.fourth-list:hover .overlay {
  transform: translateY(0%);
}

.flex {
display: flex;
align-items: baseline;
}

.footer-div {
  margin-right: 120px
}

.footer-text {
   font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
   letter-spacing: 0.02em;
   color: #FFFFFF;
   margin-bottom: 16px;
}

.social-media-list {
  display: flex;
  gap: 16px;
}

.social-list-li {
  width: 40px;
  height: 40px;
}
