h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;  
}

img {
  display: block;
}

button {
  cursor: pointer;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #FFFFFF;
  color: #434455;
  font-size: 16px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path:inset(100%);
  clip:rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.display {
  display: flex;
}

.menu {
  display: none;
}


.logotype {
font-size: 18px;
font-weight: 700;
line-height: 0.86;
letter-spacing: 0.03em;
color: #4D5AE5;
padding: 17px;
font-family: "Raleway", sans-serif;
margin-right: 76px;
}


.logotype-span {
font-size: 18px;
font-weight: 700;
line-height: 0.86;
letter-spacing: 0.03em;
color: #2E2F42;
}

.page-navigator {
 display: flex;
 align-items: center;
 }

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
  
.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

  .menu-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: left;
  color: #2e2f42;
  text-decoration: none;
  font-weight: 500;
  padding-top: 24px;
  padding-bottom: 24px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}

.menu-contact {
font-family: "Roboto", sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 14px;
letter-spacing: 0.48px;
}

.section {
 background-color: #2e2f42;
 padding-top: 188px;
 padding-bottom: 188px;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
 max-width: 768px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0 auto;
}

 .page-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  }
  
  .button {
  cursor: pointer;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  margin: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.second-section {
 padding-top: 120px; 
 padding-bottom: 120px;
}


.icons-div {
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 112px;
  background-color: #f4f4fd; 
  border-radius: 4px;
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .section {
 background-color: #2e2f42;
 padding-top: 112px;
 padding-bottom: 112px;
 background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
 max-width: 768px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 margin: 0 auto;
}
  
  .mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  background-color: #FFF;
  transform: translateX(100%);
  transition: transform 250ms linear;
}

.address {
  display: none;
}
  
.mobile-menu-container {
  position: relative;
}

.mobile-menu.is-open {
  transform: translateX(0%)
}
  
  .mobile-open-button {
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}
  
  .mobile-open-button-icon{
  stroke: #2F2F37;
}
  
  .mobile-menu-close-button {
  position: absolute;
  top: 0;
  right: 0;
  border: none;
  background-color: transparent;
  padding: 0;
  line-height: 0;
}

  .icons-div {
    display: none;
  }

.section-list {
  flex-direction: column;
  align-items: flex-start;
  display: flex;
  gap: 72px;
}
  
   .list-title {
  margin-bottom: 8px;
  font-family: Roboto;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  text-align: center;
}

.list-text {
font-family: Roboto;
font-size: 16px;
font-weight: 500;
line-height: 24px;
letter-spacing: 0.32px;
}
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

.menu {
  display: flex;
}

.mobile-menu {
  display: none;
}

.mobile-open-button {
  display: none;
}

.list-container {
  display: flex;
  gap: 40px;
  margin-right: 0;
}     

.menu-link:hover,
.menu-link:focus {
  color: #404bbf;
}
  
.contact-information {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-information:hover,
.contact-information:focus {
  color: #404bbf;
}

 .page-title {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  color: #ffffff;
  letter-spacing: 0.02em;
  text-align: center;
  max-width: 496px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 36px;
  }
  
  .button {
  cursor: pointer;
  background-color: #4D5AE5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  min-width: 169px;
  border: none;
  height: 56px;
  border-radius: 4px;
  margin: auto;
  display: block;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #404bbf;
}

.section-list {
    flex-direction: row;
    display: flex;
    gap: 24px;
    margin-bottom: 0;
    flex-wrap: wrap;
}

.second-list {
 width: calc((100% - 72px) / 2);  
}
  
.list-title {
    margin-bottom: 8px;
    font-family: Roboto;
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
  }

.list-text {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
}
}
  
@media screen and (min-width: 1158px) {

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
}
 
.second-list {
 width: calc((100% - 72px) / 4);  
}

.menu-contact {
  flex-direction: row;
  gap: 40px;
}

 .section-list {
   display: flex;
  items-align: center;
  gap: 24px;
  margin-bottom: 0;

}


   .list-title {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height:  1.2;
  letter-spacing: 0.02em; 
  color: #2e2f42;
  margin-bottom: 8px;
}

.list-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
}

